<a href="https://colab.research.google.com/github/minonine/webscraping_indeed/blob/main/Mini_projet_%C3%A0_faire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Projet : APACHE SPARK

In [3]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [4]:
# install findspark using pip
!pip install -q findspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 65.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=f77bc79f011b1e7bd1108e8d4c5f0fdcfde358a2118fd38c9d88bfabb9829d36
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

### 1 - Creation de session

In [5]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [7]:
# import SparkContext
# sc = SparkContext("local", "firstSpark")
spark = SparkSession \
        .builder \
        .appName("firstSpark") \
        .getOrCreate()
SparkSession.getActiveSession()

### 2 - Ingestion du CSV Donors

In [8]:
df_donations = spark.read.format('csv').options(header='true').load('Donations.csv')
df_donors = spark.read.format('csv').options(header='true').load('Donors.csv')
df_donors2 = spark.read.format('csv').options(header='true').load('Donors.csv')

### 3 - Affichage
Afficher les 20 premières lignes de dataset Donors (Utilisez la fonction show())

In [9]:
df_donors.show()

+--------------------+------------+--------------+----------------+---------+
|            Donor_ID|  Donor_City|   Donor_State|Donor_Is_Teacher|Donor_Zip|
+--------------------+------------+--------------+----------------+---------+
|00000ce845c00cbf0...|    Evanston|      Illinois|              No|      602|
|00002783bc5d10851...|  Appomattox|         other|              No|      245|
|00002d44003ed46b0...|      Winton|    California|             Yes|      953|
|00002eb25d60a09c3...|Indianapolis|       Indiana|              No|      462|
|0000300773fe015f8...|    Paterson|    New Jersey|              No|      075|
|00004c31ce07c2214...|        null|         other|              No|     null|
|00004e32a448b4832...|    Stamford|   Connecticut|              No|      069|
|00004fa20a986e60a...|   Green Bay|     Wisconsin|              No|      543|
|00005454366b6b914...|      Argyle|      New York|              No|      128|
|0000584b8cdaeaa6b...|  Valparaiso|       Indiana|              No|      463|
|00005f52c98eeaf92...|   Villanova|  Pennsylvania|              No|      190|
|00006084c3d92d904...|       Brick|    New Jersey|             Yes|      087|
|00006c6b8c3225a54...|  Wilmington|      Delaware|              No|      198|
|0000812bd5629117f...|    Pasadena|         Texas|              No|      775|
|0000889adf4cc958a...|Mohegan Lake|      New York|              No|      105|
|00008eec5aab22286...|    Old Fort|North Carolina|              No|      287|
|0000954e7c49ebfbc...|      Quincy|      Illinois|              No|      623|
|0000a1288b8ccdeaa...|        null|         other|              No|     null|
|0000a2175753bc165...|Grand Rapids|      Michigan|              No|      495|
|0000a3fd8b8a3d1a9...|   Lancaster|  Pennsylvania|              No|      176|
+--------------------+------------+--------------+----------------+---------+
only showing top 20 rows

Conversion en dataframe pandas (utilisez la fonction "toPandas()")

In [10]:
df_donors.toPandas()

,Donor_ID,Donor_City,Donor_State,Donor_Is_Teacher,Donor_Zip
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953
3,00002eb25d60a09c318efbd0797bffb5,Indianapolis,Indiana,No,462
4,0000300773fe015f870914b42528541b,Paterson,New Jersey,No,075
...,...,...,...,...,...
1048570,7e60d56f25337e420790991868376fdd,Salt Lake City,Utah,No,841
1048571,7e60e11156fdfa691825a2b10abc17cf,Dayton,Ohio,No,454
1048572,7e60f789db33462daf34ab795c4d70fe,Phoenix,Arizona,No,850
1048573,7e610c8ed745f8307edf0c4257e1a455,Greer,South Carolina,No,296
1048574,7e611e9b99deee6d534999f23ddf7fd2,Belton,Texas,No,765

Trouver le nombre nul dans chaque colonne

In [12]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

df_donors.select([count(when(isnan(column), column)).alias(column) for column in df_donors.columns]).show()
[df_donors.filter(col(column).isNull()).count() for column in df_donors.columns]

+--------+----------+-----------+----------------+---------+
|Donor_ID|Donor_City|Donor_State|Donor_Is_Teacher|Donor_Zip|
+--------+----------+-----------+----------------+---------+
|       0|         0|          0|               0|        0|
+--------+----------+-----------+----------------+---------+

[0, 105086, 0, 0, 88694]

Imprimer le schéma de dataset (pour imprimer le schéma, on utilise la fonction "printSchema")

In [13]:
df_donors.printSchema()

root
 |-- Donor_ID: string (nullable = true)
 |-- Donor_City: string (nullable = true)
 |-- Donor_State: string (nullable = true)
 |-- Donor_Is_Teacher: string (nullable = true)
 |-- Donor_Zip: string (nullable = true)

### 4 - Filtrage

#### Laissez que les enregistrement dont Donor City commence par A

Vous pouvez utiliser la fonction "filter" 
 
Exemple :  "My_data.filter(My_data.name_colonne.like("A%"))"

Like("A%") : le caractère "%" est un caractère joker qui remplace tous les autres caractères. Ainsi, ce modèle permet de rechercher toutes les chaines de caractère qui commence par un "A".

In [14]:
import pandas as pd
start_with_A=pd.DataFrame(df_donors.filter(df_donors['Donor_City'].startswith('A')).collect())
df=df_donors.filter(df_donors.Donor_City.like("A%"))

#### Affichez les résultats

In [15]:
type(df_donors)
df.show()

+--------------------+-------------+-------------+----------------+---------+
|            Donor_ID|   Donor_City|  Donor_State|Donor_Is_Teacher|Donor_Zip|
+--------------------+-------------+-------------+----------------+---------+
|00002783bc5d10851...|   Appomattox|        other|              No|      245|
|00005454366b6b914...|       Argyle|     New York|              No|      128|
|0001ef9f64a7e1038...|         Ames|         Iowa|              No|      500|
|00024e86676fc2c3b...|    Ann Arbor|     Michigan|              No|      481|
|0002a45d0b45a78e9...|    Ann Arbor|     Michigan|              No|      481|
|0002cb56c84b1cba7...|         Avon|  Connecticut|              No|      060|
|00050297e37eb7632...|       Austin|        Texas|              No|      787|
|0005327bfe18229b9...|        Acton|   California|              No|      935|
|00054f4b278af0c8d...|American Fork|         Utah|              No|      840|
|00055ed4f4745e71d...|  Albuquerque|   New Mexico|              No|      871|
|000581cf61255745a...|       Ankeny|         Iowa|              No|      500|
|000583fdc4983283e...|       Agawam|Massachusetts|              No|      010|
|00072a3616151a38a...|      Atlanta|        Texas|              No|      303|
|00086e4e19e80f3f1...|       Albany|     New York|              No|      122|
|0008ebb089883290a...|         Avon|      Indiana|              No|      461|
|0008f2f55a3af2432...|   Alexandria|     Virginia|             Yes|      223|
|0008ff59ba832f21a...|   Atascadero|   California|              No|      934|
|000b625c3ba612734...|          Ava|     Illinois|              No|      629|
|000bb57e7995b68d0...|      Anaheim|   California|              No|      928|
|000bba7748e9b7011...|      Allegan|     Michigan|              No|      490|
+--------------------+-------------+-------------+----------------+---------+
only showing top 20 rows

## 5 - Transformation

#### Construisez une nouvelle colonne `Address` en faisant une concaténation `Donor_City, Donor_State, Donor_Zip`

In [16]:
from pyspark.sql.functions import concat_ws

Vous pouvez utiliser la fonction "withColumn" et "concat_ws"

In [17]:
from pyspark.sql import functions as sf
df_donors = df_donors.withColumn('Address ', 
                    sf.concat(sf.col('Donor_City'),sf.lit('_'), sf.col('Donor_State'),sf.lit('_'), sf.col('Donor_Zip')))

Afficher les résultats

In [18]:
df_donors.show()

+--------------------+------------+--------------+----------------+---------+--------------------+
|            Donor_ID|  Donor_City|   Donor_State|Donor_Is_Teacher|Donor_Zip|            Address |
+--------------------+------------+--------------+----------------+---------+--------------------+
|00000ce845c00cbf0...|    Evanston|      Illinois|              No|      602|Evanston_Illinois...|
|00002783bc5d10851...|  Appomattox|         other|              No|      245|Appomattox_other_245|
|00002d44003ed46b0...|      Winton|    California|             Yes|      953|Winton_California...|
|00002eb25d60a09c3...|Indianapolis|       Indiana|              No|      462|Indianapolis_Indi...|
|0000300773fe015f8...|    Paterson|    New Jersey|              No|      075|Paterson_New Jers...|
|00004c31ce07c2214...|        null|         other|              No|     null|                null|
|00004e32a448b4832...|    Stamford|   Connecticut|              No|      069|Stamford_Connecti...|
|00004fa20a986e60a...|   Green Bay|     Wisconsin|              No|      543|Green Bay_Wiscons...|
|00005454366b6b914...|      Argyle|      New York|              No|      128| Argyle_New York_128|
|0000584b8cdaeaa6b...|  Valparaiso|       Indiana|              No|      463|Valparaiso_Indian...|
|00005f52c98eeaf92...|   Villanova|  Pennsylvania|              No|      190|Villanova_Pennsyl...|
|00006084c3d92d904...|       Brick|    New Jersey|             Yes|      087|Brick_New Jersey_087|
|00006c6b8c3225a54...|  Wilmington|      Delaware|              No|      198|Wilmington_Delawa...|
|0000812bd5629117f...|    Pasadena|         Texas|              No|      775|  Pasadena_Texas_775|
|0000889adf4cc958a...|Mohegan Lake|      New York|              No|      105|Mohegan Lake_New ...|
|00008eec5aab22286...|    Old Fort|North Carolina|              No|      287|Old Fort_North Ca...|
|0000954e7c49ebfbc...|      Quincy|      Illinois|              No|      623| Quincy_Illinois_623|
|0000a1288b8ccdeaa...|        null|         other|              No|     null|                null|
|0000a2175753bc165...|Grand Rapids|      Michigan|              No|      495|Grand Rapids_Mich...|
|0000a3fd8b8a3d1a9...|   Lancaster|  Pennsylvania|              No|      176|Lancaster_Pennsyl...|
+--------------------+------------+--------------+----------------+---------+--------------------+
only showing top 20 rows

## 6 - Moteur SQL

#### Persister le dataset de départ comme une Temporary View
Vous pouvez utliser la fcontion createOrReplaceTempView

In [19]:
df_donors.createOrReplaceTempView("donors")
result = spark.sql(""" select * from donors """)
result.show()

+--------------------+------------+--------------+----------------+---------+--------------------+
|            Donor_ID|  Donor_City|   Donor_State|Donor_Is_Teacher|Donor_Zip|            Address |
+--------------------+------------+--------------+----------------+---------+--------------------+
|00000ce845c00cbf0...|    Evanston|      Illinois|              No|      602|Evanston_Illinois...|
|00002783bc5d10851...|  Appomattox|         other|              No|      245|Appomattox_other_245|
|00002d44003ed46b0...|      Winton|    California|             Yes|      953|Winton_California...|
|00002eb25d60a09c3...|Indianapolis|       Indiana|              No|      462|Indianapolis_Indi...|
|0000300773fe015f8...|    Paterson|    New Jersey|              No|      075|Paterson_New Jers...|
|00004c31ce07c2214...|        null|         other|              No|     null|                null|
|00004e32a448b4832...|    Stamford|   Connecticut|              No|      069|Stamford_Connecti...|
|00004fa20a986e60a...|   Green Bay|     Wisconsin|              No|      543|Green Bay_Wiscons...|
|00005454366b6b914...|      Argyle|      New York|              No|      128| Argyle_New York_128|
|0000584b8cdaeaa6b...|  Valparaiso|       Indiana|              No|      463|Valparaiso_Indian...|
|00005f52c98eeaf92...|   Villanova|  Pennsylvania|              No|      190|Villanova_Pennsyl...|
|00006084c3d92d904...|       Brick|    New Jersey|             Yes|      087|Brick_New Jersey_087|
|00006c6b8c3225a54...|  Wilmington|      Delaware|              No|      198|Wilmington_Delawa...|
|0000812bd5629117f...|    Pasadena|         Texas|              No|      775|  Pasadena_Texas_775|
|0000889adf4cc958a...|Mohegan Lake|      New York|              No|      105|Mohegan Lake_New ...|
|00008eec5aab22286...|    Old Fort|North Carolina|              No|      287|Old Fort_North Ca...|
|0000954e7c49ebfbc...|      Quincy|      Illinois|              No|      623| Quincy_Illinois_623|
|0000a1288b8ccdeaa...|        null|         other|              No|     null|                null|
|0000a2175753bc165...|Grand Rapids|      Michigan|              No|      495|Grand Rapids_Mich...|
|0000a3fd8b8a3d1a9...|   Lancaster|  Pennsylvania|              No|      176|Lancaster_Pennsyl...|
+--------------------+------------+--------------+----------------+---------+--------------------+
only showing top 20 rows

#### Comptez le nombre de professeurs ayant participé à la donation

Vous pouvez utiliser la fonction count() et le langage SQL

In [20]:
result = spark.sql(""" select count(*) from donors Where Donor_Is_Teacher='Yes' """)
result.show()

+--------+
|count(1)|
+--------+
|  104650|
+--------+

utiliser juste 10% du dataset c'est très grand complet pour des jointures pour votre petite machine... avec la method `sample`

In [22]:
df_e = df_donors.sample(fraction=0.1, seed=3)
df_e.createOrReplaceTempView("donor")
result = spark.sql(""" select Donor_ID from donor """)
result.show()

+--------------------+
|            Donor_ID|
+--------------------+
|0000c4be79d9f9248...|
|0001415ef50c0f45d...|
|000150db429aff026...|
|00015a61076990002...|
|00016d53aafa42950...|
|000177bef7ed7b7d1...|
|0002128c613edd04b...|
|0002348747db8f7fc...|
|0002965240b13a26f...|
|0003982f3e5d7e11e...|
|0004022cc26b79c37...|
|0004265c44e425d71...|
|000446688c194fc58...|
|00049338d2a420cd9...|
|0004c11d84e7e1fc8...|
|0004f42bf17585076...|
|00050511b93260bed...|
|0005217360eaad75d...|
|0005f200ba504e18b...|
|00061145ab79728ae...|
+--------------------+
only showing top 20 rows

#### Afficher que les id des donateurs qui habite à California

Vous pouvez utiliser le langage SQL qu'on vu dans le TP 5 suivant select col_x from donors where col_y ="California

In [23]:
result = spark.sql(""" select Donor_City from donor where Donor_City='California' """)
result.show()

+----------+
|Donor_City|
+----------+
|California|
|California|
|California|
|California|
|California|
|California|
+----------+

#### Ingestion des données et publication en temporary view du fichier Donations.CSV

In [24]:
df_donations.createOrReplaceTempView("donations")

In [25]:
df_donations.show()

+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|          Project ID|         Donation_ID|            Donor_ID|Donation_Included_Optional_Donation|Donation_Amount|Donor_Cart Sequence|Donation_Received_Date|
+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|000009891526c0ade...|68872912085866622...|1f4b5b6e68445c6c4...|                                 No|         178.37|                 11|   2016-08-23 13:15:57|
|000009891526c0ade...|dcf1071da3aa3561f...|4aaab6d244bf35996...|                                Yes|           25.0|                  2|   2016-06-06 20:05:23|
|000009891526c0ade...|18a234b9d1e538c43...|0b0765dc9c759adc4...|                                Yes|           20.0|                  3|   2016-06-06 14:08:46|
|000009891526c0ade...|38d2744bf9138b0b5...|377944ad61f72d800...|                                Yes|           25.0|                  1|   2016-05-15 10:23:04|
|000009891526c0ade...|5a032791e31167a70...|6d5b22d39e68c6560...|                                Yes|           25.0|                  2|   2016-05-17 01:23:38|
|000009891526c0ade...|8cea27f0cc03f41f6...|896c75c9b8d9a91c7...|                                Yes|           15.0|                  1|   2016-06-04 17:58:55|
|00000ce845c00cbf0...|39af862cb04e4f938...|8a1875762c85932ff...|                                Yes|           50.0|                  1|   2013-02-27 09:07:51|
|00000ce845c00cbf0...|c47f78571f62bcf10...|a3f070e439d52de72...|                                Yes|           50.0|                  2|   2013-02-27 09:53:12|
|00000ce845c00cbf0...|19351e1d9ae0bccab...|bd323208dc78b1c74...|                                Yes|          200.0|                  2|   2013-02-17 21:36:24|
|00000ce845c00cbf0...|d5364b1bb3b145948...|6dd6113f89f2766d3...|                                Yes|           10.0|                 44|   2013-02-27 10:32:22|
|00000ce845c00cbf0...|84d4bd0c34c8c28f9...|391f14831940fc7bc...|                                Yes|          100.0|                  1|   2013-02-27 09:55:18|
|00000ce845c00cbf0...|987eecef69373f0d7...|531ed26f1a5052823...|                                Yes|           25.0|                  1|   2013-02-27 09:57:57|
|00000ce845c00cbf0...|72f8a2bf2a996b287...|499496888e927737a...|                                Yes|           50.0|                  1|   2013-02-27 10:56:48|
|00002d44003ed46b0...|3dc5237cf215a2bdc...|3fa001f7a31563bb2...|                                Yes|           25.0|                  1|   2017-06-20 22:45:41|
|00002d44003ed46b0...|3fb12c4ea45461531...|c77b27c9837573aae...|                                Yes|           20.0|                  1|   2017-07-05 12:19:02|
|00002d44003ed46b0...|1abb69e9f91e80a4c...|43ca9835ccb5c7c24...|                                Yes|          100.0|                  2|   2017-06-28 22:56:05|
|00002d44003ed46b0...|3f878f6ea8afe42b2...|6243c0acf1dc9a4d7...|                                Yes|           25.0|                  1|   2017-06-29 19:49:13|
|00002d44003ed46b0...|7b28925a3c4c768da...|3fa001f7a31563bb2...|                                 No|         117.92|                  3|   2017-07-31 08:48:01|
|00002d44003ed46b0...|aee61d191d3dcaf58...|3fa001f7a31563bb2...|                                 No|          250.0|                  2|   2017-07-30 23:16:53|
|00002d44003ed46b0...|c40e75f11f570cd59...|344ad0a72366a27bd...|                                Yes|           10.0|                  9|   2017-07-24 08:40:35|
+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
only showing top 20 rows

#### Afficher le DF

In [26]:
df_donations.count()
df_donations.show()

+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|          Project ID|         Donation_ID|            Donor_ID|Donation_Included_Optional_Donation|Donation_Amount|Donor_Cart Sequence|Donation_Received_Date|
+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|000009891526c0ade...|68872912085866622...|1f4b5b6e68445c6c4...|                                 No|         178.37|                 11|   2016-08-23 13:15:57|
|000009891526c0ade...|dcf1071da3aa3561f...|4aaab6d244bf35996...|                                Yes|           25.0|                  2|   2016-06-06 20:05:23|
|000009891526c0ade...|18a234b9d1e538c43...|0b0765dc9c759adc4...|                                Yes|           20.0|                  3|   2016-06-06 14:08:46|
|000009891526c0ade...|38d2744bf9138b0b5...|377944ad61f72d800...|                                Yes|           25.0|                  1|   2016-05-15 10:23:04|
|000009891526c0ade...|5a032791e31167a70...|6d5b22d39e68c6560...|                                Yes|           25.0|                  2|   2016-05-17 01:23:38|
|000009891526c0ade...|8cea27f0cc03f41f6...|896c75c9b8d9a91c7...|                                Yes|           15.0|                  1|   2016-06-04 17:58:55|
|00000ce845c00cbf0...|39af862cb04e4f938...|8a1875762c85932ff...|                                Yes|           50.0|                  1|   2013-02-27 09:07:51|
|00000ce845c00cbf0...|c47f78571f62bcf10...|a3f070e439d52de72...|                                Yes|           50.0|                  2|   2013-02-27 09:53:12|
|00000ce845c00cbf0...|19351e1d9ae0bccab...|bd323208dc78b1c74...|                                Yes|          200.0|                  2|   2013-02-17 21:36:24|
|00000ce845c00cbf0...|d5364b1bb3b145948...|6dd6113f89f2766d3...|                                Yes|           10.0|                 44|   2013-02-27 10:32:22|
|00000ce845c00cbf0...|84d4bd0c34c8c28f9...|391f14831940fc7bc...|                                Yes|          100.0|                  1|   2013-02-27 09:55:18|
|00000ce845c00cbf0...|987eecef69373f0d7...|531ed26f1a5052823...|                                Yes|           25.0|                  1|   2013-02-27 09:57:57|
|00000ce845c00cbf0...|72f8a2bf2a996b287...|499496888e927737a...|                                Yes|           50.0|                  1|   2013-02-27 10:56:48|
|00002d44003ed46b0...|3dc5237cf215a2bdc...|3fa001f7a31563bb2...|                                Yes|           25.0|                  1|   2017-06-20 22:45:41|
|00002d44003ed46b0...|3fb12c4ea45461531...|c77b27c9837573aae...|                                Yes|           20.0|                  1|   2017-07-05 12:19:02|
|00002d44003ed46b0...|1abb69e9f91e80a4c...|43ca9835ccb5c7c24...|                                Yes|          100.0|                  2|   2017-06-28 22:56:05|
|00002d44003ed46b0...|3f878f6ea8afe42b2...|6243c0acf1dc9a4d7...|                                Yes|           25.0|                  1|   2017-06-29 19:49:13|
|00002d44003ed46b0...|7b28925a3c4c768da...|3fa001f7a31563bb2...|                                 No|         117.92|                  3|   2017-07-31 08:48:01|
|00002d44003ed46b0...|aee61d191d3dcaf58...|3fa001f7a31563bb2...|                                 No|          250.0|                  2|   2017-07-30 23:16:53|
|00002d44003ed46b0...|c40e75f11f570cd59...|344ad0a72366a27bd...|                                Yes|           10.0|                  9|   2017-07-24 08:40:35|
+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
only showing top 20 rows

#### Calculer le montant minimum, le montant maximum, le montant moyen en arrondissant à l'unité après la virgule de la colonne Donation_Amount
pour l'ensemble Donations 

Utiliser les alias "maxMontant", "minMontant", "avgMontant". et la colonne "Donation_Amount"

Pour rappel en SQL, un alias ressemble à ça : "as maxMontant".

In [27]:
result = spark.sql(""" select Max(Donation_Amount) as maxMontant , MIN(Donation_Amount) as minMontant , AVG(Donation_Amount) as avgMontant from donations  """)
result.show()

+----------+----------+-----------------+
|maxMontant|minMontant|       avgMontant|
+----------+----------+-----------------+
|   9999.91|      0.01|60.72797862813836|
+----------+----------+-----------------+

utiliser juste 10% du dataset c'est très grand complet pour des jointures... avec la method `sample`

In [31]:
donations_e = df_donations.sample(fraction=0.1, seed=3)
donations_e.createOrReplaceTempView("donations_e")

#### Faites une jointure Entre le data set des donneurs Donors, et le dataset des Donations Donations

Indication : utilisez "inner join" de langage spark.sql

In [37]:
result = spark.sql("SELECT * FROM Donors INNER JOIN Donations ON Donors.Donor_id == Donations.Donor_id")
result.show()

+--------------------+----------------+--------------+----------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|            Donor_ID|      Donor_City|   Donor_State|Donor_Is_Teacher|Donor_Zip|            Address |          Project ID|         Donation_ID|            Donor_ID|Donation_Included_Optional_Donation|Donation_Amount|Donor_Cart Sequence|Donation_Received_Date|
+--------------------+----------------+--------------+----------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
|000eb10b7e8fb44e9...|      Manchester|   Connecticut|              No|      060|Manchester_Connec...|123050acb1743c4b8...|84928abc68304ea56...|000eb10b7e8fb44e9...|                                Yes|           25.0|                  2|   2018-02-22 13:26:13|
|000feaeb375229fd7...|            null|      New York|              No|     null|                null|2a7e07530b5bd9d86...|5f88bd171fea927c5...|000feaeb375229fd7...|                                Yes|           35.0|                  4|   2013-10-13 09:12:35|
|00412cae00ffac88b...|         Valrico|       Florida|              No|      335| Valrico_Florida_335|2d02a8d46a0585a35...|8d3eed357c46ff614...|00412cae00ffac88b...|                                Yes|           50.0|                  1|   2016-04-17 10:27:05|
|00707db0c98dee9ae...|         Wendell|North Carolina|              No|      275|Wendell_North Car...|0a5383c4c08100ea6...|2566fcf56821808fc...|00707db0c98dee9ae...|                                Yes|           50.0|                  2|   2014-12-09 12:14:21|
|007b83b86217021c8...|Colorado Springs|      Colorado|              No|      809|Colorado Springs_...|296e455684cc7ff6f...|cbfbb7b2c29654493...|007b83b86217021c8...|                                Yes|          150.0|                  1|   2014-02-18 10:06:30|
|007b83b86217021c8...|Colorado Springs|      Colorado|              No|      809|Colorado Springs_...|2e0447c9fac054511...|3dcfbedc0cb796fb9...|007b83b86217021c8...|                                Yes|          100.0|                  2|   2014-09-15 17:21:57|
|00807ca387d9eaea1...|            null|      Colorado|              No|     null|                null|0cc4d29dc0d28503d...|6db850d82acc32b7f...|00807ca387d9eaea1...|                                Yes|           25.0|                  1|   2014-09-02 22:21:00|
|00972792194403adf...|         Midland|         Texas|              No|      797|   Midland_Texas_797|06cb73da1dae22f3c...|a1d4ad999229d3f63...|00972792194403adf...|                                Yes|          76.25|                  1|   2014-10-13 17:53:13|
|00a56dc6094556dcc...|   New Palestine|       Indiana|              No|      461|New Palestine_Ind...|282ad541be2f4086a...|a731a19c93eea2f84...|00a56dc6094556dcc...|                                Yes|           50.0|                  2|   2016-05-11 08:15:08|
|00a56dc6094556dcc...|   New Palestine|       Indiana|              No|      461|New Palestine_Ind...|3096c1a295c9960e7...|798cfbd6b9392c88d...|00a56dc6094556dcc...|                                Yes|          40.93|                  1|   2016-02-08 08:22:52|
|00a9341989c294f07...|        El Cajon|    California|             Yes|      920|El Cajon_Californ...|2591a9511c575e905...|ad0316907f2a84c75...|00a9341989c294f07...|                                Yes|           20.0|                  6|   2016-03-10 20:51:57|
|00a9341989c294f07...|        El Cajon|    California|             Yes|      920|El Cajon_Californ...|2591a9511c575e905...|b67d89925143090dc...|00a9341989c294f07...|                                Yes|          750.0|                  5|   2016-01-26 12:17:39|
|00a9341989c294f07...|        El Cajon|    California|             Yes|      920|El Cajon_Californ...|2591a9511c575e905...|d0d30c4a78b3d0b10...|00a9341989c294f07...|                                Yes|           90.0|                  4|   2016-01-07 14:04:24|
|00a9341989c294f07...|        El Cajon|    California|             Yes|      920|El Cajon_Californ...|327203cec0559e06a...|4d4f98da804882de6...|00a9341989c294f07...|                                 No|         156.25|                 14|   2016-10-03 17:34:58|
|00a9341989c294f07...|        El Cajon|    California|             Yes|      920|El Cajon_Californ...|327203cec0559e06a...|49816f67f0a51218a...|00a9341989c294f07...|                                 No|           30.0|                 13|   2016-08-29 23:08:36|
|00b7e1d1a7fbca92d...|        New York|      New York|              No|      100|New York_New York...|1c71814b1d43b8aa6...|67dfc15fb7f34ac42...|00b7e1d1a7fbca92d...|                                Yes|          32.13|                  2|   2016-03-11 17:12:04|
|00c222e0437a1eff3...|           Tampa|       Florida|              No|      336|   Tampa_Florida_336|1e7123b1cb7b0e8bd...|18d5a22d8c24b55a9...|00c222e0437a1eff3...|                                Yes|          100.0|                  1|   2014-04-28 21:41:56|
|00ccdbb28b10d8142...|     Canandaigua|      New York|              No|      144|Canandaigua_New Y...|2b80f39e6b42dc1d1...|b248f54507186eddc...|00ccdbb28b10d8142...|                                Yes|           60.0|                  1|   2017-03-12 23:54:23|
|00fcfa7ad85fb9362...|           Omaha|      Nebraska|              No|      681|  Omaha_Nebraska_681|23044f30b74a14b79...|a7e20b83286000b82...|00fcfa7ad85fb9362...|                                Yes|           25.0|                  1|   2015-09-30 16:01:09|
|01112c8652318ac56...|       Princeton|    New Jersey|              No|      085|Princeton_New Jer...|136d66951caeb747f...|53d072ba9fd6c9716...|01112c8652318ac56...|                                Yes|           23.0|                  1|   2015-04-11 22:30:13|
+--------------------+----------------+--------------+----------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------------------------+---------------+-------------------+----------------------+
only showing top 20 rows

#### Calculez la somme de l'argent donnée par Les Professeurs (Donor Is Teacher=Yes) et les non professeurs utilisant seulement SQL

Indication : ('select sum(dt.col4) as amountProf from donations dt inner join donors dr on dt.col2 = dr.col0 and dr.col3 = "Yes" ')

In [38]:
result = spark.sql(""" select Sum(Donation_Amount) from donations_e INNER JOIN donor where donations_e.Donor_ID=donor.Donor_ID  """)
result.show()

+------------------------------------+
|sum(CAST(Donation_Amount AS DOUBLE))|
+------------------------------------+
|                  319888.66000000003|
+------------------------------------+